<!doctype html>
<html lang="pt-br">

<head>
    <title>Cadastro de Pessoas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
</head>

<body>
    <div class="container-fluid">
        
        <div class="row">
            <div class="col">
                <h1 class="text-center">Cadastro de Pessoas</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <form action="/cadastrar" method="POST">
                <div class="col-3"> <label for="nome">Nome: <input type="text" id="nome" name="nome"></label></div>
                <div class="col-3"> <label for="idade">Idade: <input type="text" id="idade" name="idade"></label></div>
                <div class="col-3" > <label for="sexo">Sexo: <input type="text" id="sexo" name="sexo"></label></div>
                <div class="col-3"><input type="submit" id="enviar" value="Enviar" class="btn btn-success justify-content-center" ></div>
            </form>
            
        </div>
        
        <div class="row">
            <div class="col text-center">
                <div th:if="${texto}" th:text="${texto}"></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <ul th:if="${historico}" class="">
                    <li th:each="item : ${historico}">
                        ID: <span th:text="${item.id}"></span> | <span th:text="${item.cadastros}"></span>
                    </li>
                </ul>
            </div>
        </div>

    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>